<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="nav-container">
  <a class="navbar-brand" style="color:white;">Hospital App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownOrderButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Заказ услуг
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownOrderButton">
            <a class="dropdown-item" href="#">Запись на анализы</a>
            <a class="dropdown-item" href="#">Запись на процедуры</a>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Аптека <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a (click)="goToOrder()" class="btn nav-link">Заказ талона <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Выезд на дом <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Контакты <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a *ngIf="!isAuthenticated" (click)="onOpenModal('login')" class="nav-link"
      style="cursor: pointer; color:white;">Войти</a>
    <a *ngIf="!isAuthenticated" (click)="onOpenModal('register')" class="nav-link"
      style="color:white; cursor: pointer;">Регистрация</a>
    <a *ngIf="isAuthenticated" (click)="goToPersonalAccount()" class="nav-link" style="color:white; cursor: pointer;">Личный кабинет</a>
  </div>
</nav>

<div class="content">
  <img src="assets/img/image.png" class="content__image">
  <h3 class="content__text">На сайте Вы можете забронировать талон к врачу,<br />
    просмотреть свою историю болезней,<br />
    узнать актуальные цены на лекарства,<br />
    пройти комплекс медицинских процедур и анализов.<br /><br />
    Берегите себя и будьте здоровы!</h3>
</div>

<footer class="fixed-bottom footer">
  <div class="footer__row">
    <div class="footer__copy col-2">Copy, 2021</div>
    <div class="footer__text col-7 pl-3">Hospital App</div>
  </div>
</footer>

<!-- Login User Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Вход</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" [(ngModel)]="user.username" autocomplete="username" name="username" class="form-control"
              id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" [(ngModel)]="user.password" autocomplete="current-password" name="password"
              class="form-control" id="password" placeholder="Пароль" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="login-user-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Register User Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="form-group">
            <label for="firstname">Имя</label>
            <input type="text" ngModel name="firstName" class="form-control" id="firstname" placeholder="Имя" required>
          </div>
          <div class="form-group">
            <label for="lastname">Фамилия</label>
            <input type="text" ngModel name="lastName" class="form-control" id="lastname" placeholder="Фамилия"
              required>
          </div>
          <div class="form-group">
            <label for="patronymic">Отчество</label>
            <input type="text" ngModel name="patronymic" class="form-control" id="patronymic" placeholder="Отчество"
              required>
          </div>
          <div class="form-group">
            <label for="reg-email">Email</label>
            <input type="text" ngModel name="email" class="form-control" id="reg-email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="reg-password">Пароль</label>
            <input type="password" ngModel name="password" class="form-control" id="reg-password" placeholder="Пароль"
              required>
          </div>
          <div *ngIf="isRegisterPressed">На указанный адрес выслано письмо для подтверждения. После подтверждения
            необходимо выполнить вход в систему</div>
          <div class="modal-footer">
            <button type="button" id="register-user-form" class="btn btn-secondary"
              data-dismiss="modal">Закрыть</button>
            <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>